/* ===================================================
    Pagina Principal 
   =================================================== */

.principal-metropolitano {
  background: url(../img/background.png) no-repeat center center;
  padding: 20px 10px 60px 10px;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
}
.juego1{
    background: url(../img/juego_uno.png) no-repeat center center;
    width: 239px;
    height: 116px;
    margin-top: 80px;
    margin-right: -20px;
}
/* Menu */
.menu-vertical a{
    font-size: 20px !important;
    color:#d9cfab;
}
.menu-vertical a:hover{
    font-size: 20px !important;
    color:#d9cfab;
}
nav {
    font-size: 2.0em;
    line-height: 0.5em;
    color: white;
    width:7em;
    height: 12.5em;
    position:absolute;
    top:0; 
    bottom:0;
    margin:auto;
    left: -5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: blue;
    height: 1.5em;
    padding: 0.40em;
    position: relative;
    width: 100%;
    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    -webkit-transition: -webkit-transform 500ms, background-color 500ms, color 500ms;
    transition: transform 500ms, background-color 500ms, color 500ms;
}

nav ul li:nth-child(1) { background-color: #d9cfab; margin-bottom: 10px;}
nav ul li:nth-child(2) { background-color: #d9cfab; margin-bottom: 10px;}
nav ul li:nth-child(3) { background-color: #d9cfab; margin-bottom: 10px;}
nav ul li:nth-child(4) { background-color: #d9cfab; margin-bottom: 10px;}

nav ul li:hover {
    background-color: black;
    -webkit-transform: translateX(5em);
    transform: translateX(5em);
}
nav ul li span {
    display:block;
    position: absolute;
    font-size:1.5em;
    line-height: 1.25em;
    height:1.0em;
    top:0; bottom:0;
    margin:auto;
    right: 0.16666666666667em;
    color: #F8F6FF;
}
/* Iconos Menu */

.paradero{
    height: 32px;
    width: 29px;
    margin-right: 10px;
    margin-bottom: 16px;
}
.game{
   height: 32px;
    width: 29px;
    margin-right: 10px;
    margin-bottom: 16px;
}
.ranking{
    height: 32px;
    width: 29px;
    margin-right: 10px;
    margin-bottom: 16px;
}
.premios{
    height: 32px;
    width: 29px;
    margin-right: 10px;
    margin-bottom: 16px;
}

.logo{
    width: 130px;
    height: 35px;
}
